.clinic-slider{
    .swiper-container {
        width: 100%;
        height: 100%;
        padding: 35px 0px;
      }
    
      .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        background: #FFFFFF;
        border-radius: 16px;
        min-width: 464px  !important;
        min-height: 274px !important;
        padding: 24px;
        margin-top: 25px;
        margin-right: 12px !important;
        @include mq('phablet', max){
            min-width: 280px!important;
            margin-right: 20px !important;
            margin-bottom: 42px;
        }
        @include mq('phone', max){
            overflow: auto;
            display: block;
        }

        .slider-img{
            margin-right: 12px;
            border-radius: 50%;
            object-fit: contain;
        }
        .slider-about{
            @include mq('phablet', max){
                width: 100%;
                height: auto;
                overflow: auto;
            }
        }
        .slider-title{
            h6{
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.04em;
                color: #343845;
                @include mq('phone', max){
                    font-size: 21px;
                }
            }
        }
        .slider-text{
            position: relative;
            visibility: visible;
            scroll-behavior: unset;
            scrollbar-color: none;
            p{
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.02em;
                color: #696874;
            }
        }
        .slider-link{
            a{
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.04em;
                text-decoration-line: underline;
                color: #7C7C87;
            }
        }
    
      }
    
      
    
      .swiper-button-prev:after {
        content: 'prev';
        font-size: 21px;
        color: #fff;
        font-weight: bold;
    }
    .swiper-button-next:after {
        content: 'next';
        font-size: 21px;
        color: #fff;
        font-weight: bold;
    }
    .swiper-button-next {
        right: 0px;
        left: auto;
        background: #3ccd74;
        padding: 20px;
        border-radius: 50%;
        @include mq('phablet', max){
            right: 72px;
            left: auto;
            background: #3ccd74;
            padding: 23px;
            border-radius: 50%;
            top: 432px;
            z-index: 99;
        }
        @include mq('phone', max){
            right: 72px;
            left: auto;
            background: #3ccd74;
            padding: 23px;
            border-radius: 50%;
            top: 476px;
            z-index: 99;
        }
    }
    .swiper-button-prev{
        left: 0px;
        right: auto;
        background: #3ccd74;
        padding: 20px;
        border-radius: 50%;
        @include mq('phablet', max){
            left: 72px;
            right: auto;
            background: #3ccd74;
            padding: 23px;
            border-radius: 50%;
            top: 432px;
        }
        @include mq('phone', max){
            left: 72px;
            right: auto;
            background: #3ccd74;
            padding: 23px;
            border-radius: 50%;
            top: 476px;
        }
    }
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        background:#3ccd74;
        opacity: 1;
        
    }

}


.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 14px;
    left: 0;
    width: 100%;
    opacity: 0;
    @include mq('phablet', max){
        opacity: 1;
    }
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background:#3ccd74;
    
}
.swiper-pagination-bullet-active{
    background-color: #fff !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 14px;
    left: 0;
    width: 100%;
}


.texno-swiper{
    @include mq('phablet', max){
        order: 2;
        margin-top: 30px;
    }
}