.clinic-slider{
    .swiper-container {
        width: 100%;
        height: 100%;
        padding: 35px 0;
      }
    
      .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        background: #FFFFFF;
        border-radius: 16px;
        min-width: 464px  !important;
        min-height: 274px !important;
        padding: 24px;
        margin-top: 25px;
        margin-right: 40px !important;
        @include mq('phablet', max){
            min-width: 300px!important;
        }
        .slider-img{
            margin-right: 12px;
        }
        .slider-title{
            h6{
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.04em;
                color: #343845;
            }
        }
        .slider-text{
            position: relative;
            visibility: visible;
            scroll-behavior: unset;
            scrollbar-color: none;
            p{
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.02em;
                color: #696874;
            }
        }
        .slider-link{
            a{
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.04em;
                text-decoration-line: underline;
                color: #7C7C87;
            }
        }
    
      }
    
      
    
      .swiper-button-prev:after {
        content: 'prev';
        font-size: 21px;
        color: #fff;
        font-weight: bold;
    }
    .swiper-button-next:after {
        content: 'next';
        font-size: 21px;
        color: #fff;
        font-weight: bold;
    }
    .swiper-button-next {
        right: 10px;
        left: auto;
        background: #3ccd74;
        padding: 20px;
        border-radius: 50%;
    }
    .swiper-button-prev{
        left: 10px;
        right: auto;
        background: #3ccd74;
        padding: 20px;
        border-radius: 50%;
    }
    .swiper-pagination-bullet-active {
        background:#fff;
    }
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        background:#3ccd74;
        opacity: .5;
    }
}
