/* Fonts */
// @include font-face("Exo2-Thin", Exo2-Thin); // 100
// @include font-face("Exo2-ExtraLight", Exo2-ExtraLight); // 200
// @include font-face("Exo2-Light", Exo2-Light); // 300
// @include font-face("Exo2-Regular", Exo2-Regular); // 400
// @include font-face("Exo2-Medium", Exo2-Medium); // 500
// @include font-face("Exo2-SemiBold", Exo2-SemiBold); // 600
// @include font-face("Exo2-Bold", Exo2-Bold); // 700
// @include font-face("Exo2-ExtraBold", Exo2-ExtraBold); // 800
// @include font-face("Exo2-Black", Exo2-Black); // 900

// @font-face {
//   font-family: "ProximaNova";
//   src: url("../fonts/ProximaNova/ProximaNova-Thin.eot");
//   src: local("☺"),
//     url("../fonts/ProximaNova/ProximaNova-Thin.woff") format("woff"),
//     url("../fonts/ProximaNova/ProximaNova-Thin.ttf") format("truetype"),
//     url("../fonts/ProximaNova/ProximaNova-Thin.svg") format("svg");
//   font-weight: 100;
//   font-style: normal;
// }
// @font-face {
//   font-family: "ProximaNova";
//   src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
//   src: local("☺"),
//     url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"),
//     url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"),
//     url("../fonts/ProximaNova/ProximaNova-Light.svg") format("svg");
//   font-weight: 300;
//   font-style: normal;
// }
// @font-face {
//   font-family: "ProximaNova";
//   src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
//   src: local("☺"),
//     url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"),
//     url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"),
//     url("../fonts/ProximaNova/ProximaNova-Regular.svg") format("svg");
//   font-weight: 400;
//   font-style: normal;
// }
// @font-face {
//   font-family: "ProximaNova";
//   src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
//   src: local("☺"),
//     url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"),
//     url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype"),
//     url("../fonts/ProximaNova/ProximaNova-Semibold.svg") format("svg");
//   font-weight: 600;
//   font-style: normal;
// }
// @font-face {
//   font-family: "ProximaNova";
//   src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
//   src: local("☺"),
//     url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"),
//     url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"),
//     url("../fonts/ProximaNova/ProximaNova-Bold.svg") format("svg");
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: "ProximaNova";
//   src: url("../fonts/ProximaNova/ProximaNova-Extrabold.eot");
//   src: local("☺"),
//     url("../fonts/ProximaNova/ProximaNova-Extrabold.woff") format("woff"),
//     url("../fonts/ProximaNova/ProximaNova-Extrabold.ttf") format("truetype"),
//     url("../fonts/ProximaNova/ProximaNova-Extrabold.svg") format("svg");
//   font-weight: 800;
//   font-style: normal;
// }
// @font-face {
//   font-family: "ProximaNova";
//   src: url("../fonts/ProximaNova/ProximaNova-Black.eot");
//   src: local("☺"),
//     url("../fonts/ProximaNova/ProximaNova-Black.woff") format("woff"),
//     url("../fonts/ProximaNova/ProximaNova-Black.ttf") format("truetype"),
//     url("../fonts/ProximaNova/ProximaNova-Black.svg") format("svg");
//   font-weight: 900;
//   font-style: normal;
// }



@font-face
{
    font-family: "montserrat";
    src: url(../../fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face
{
    font-family: "montserrat";
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face
{
    font-family: "montserrat";
    src: url(../../fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face
{
    font-family: "montserrat";
    src: url(../../fonts/Montserrat/Montserrat-Semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face
{
    font-family: "montserrat";
    src: url(../../fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face
{
    font-family: "montserrat";
    src: url(../../fonts/Montserrat/Montserrat-Black.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}