<section>
    <div class="about-page" style="background: url('../img/about-bg.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="about-content wow fadeInLeft">
                        <h1>О клинике</h1>
                        <p>Сюда нужен текст. Клиника предлагает оказание качественной медицинской помощи и высокий
                            уровень сервиса. Также гарантирует эффективное лечение, соблюдение врачебной этики и
                            конфиденциальности.
                            <br>
                            <br>
                            Бозе-конденсат возбудим. Идеальная тепловая машина представляет собой поток, тем самым
                            открывая возможность цепочки квантовых превращений. Вещество когерентно тормозит вихрь.
                            Волна восстанавливает бозе-конденсат. Плазменное образование, в согласии с традиционными
                            представлениями, упруго нейтрализует электрон.
                            <br>
                            <br>
                            Фотон, в отличие от классического случая, сжимает гидродинамический удар. Квантовое
                            состояние заряжает экситон независимо от расстояния до горизонта событий. Расслоение
                            последовательно.</p>
                    </div>
                </div>
                <div class="back-about">
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="our_special-block">
        <div class="container">
            <div class="title wow fadeInUp">
                <h2>Наши специалисты</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 wow fadeInDown" wow-duration-delay=".4s">
                    <div class="our-box">
                        <div class="boxing-img">
                            <img src="img/clinic-girl.png" alt="girl">
                        </div>
                        <div class="our-box_card">
                            <h4>Колесник Розалина Михайловна</h4>
                            <p>Врач-трихолог высшей категории</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 wow fadeInDown" wow-duration-delay=".6s">
                    <div class="our-box">
                        <div class="boxing-img">
                            <img src="img/clinic-girl.png" alt="girl">
                        </div>
                        <div class="our-box_card">
                            <h4>Колесник Розалина Михайловна</h4>
                            <p>Врач-трихолог высшей категории</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 wow fadeInDown" wow-duration-delay=".8s">
                    <div class="our-box">
                        <div class="boxing-img">
                            <img src="img/clinic-girl.png" alt="girl">
                        </div>
                        <div class="our-box_card">
                            <h4>Колесник Розалина Михайловна</h4>
                            <p>Врач-трихолог высшей категории</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 wow fadeInDown" wow-duration-delay="1s">
                    <div class="our-box">
                        <div class="boxing-img">
                            <img src="img/clinic-girl.png" alt="girl">
                        </div>
                        <div class="our-box_card">
                            <h4>Колесник Розалина Михайловна</h4>
                            <p>Врач-трихолог высшей категории</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 wow fadeInDown" wow-duration-delay="1.2s">
                    <div class="our-box">
                        <div class="boxing-img">
                            <img src="img/clinic-girl.png" alt="girl">
                        </div>
                        <div class="our-box_card">
                            <h4>Колесник Розалина Михайловна</h4>
                            <p>Врач-трихолог высшей категории</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5 wow fadeInDown" wow-duration-delay="1.4s">
                    <div class="our-box">
                        <div class="boxing-img">
                            <img src="img/clinic-girl.png" alt="girl">
                        </div>
                        <div class="our-box_card">
                            <h4>Колесник Розалина Михайловна</h4>
                            <p>Врач-трихолог высшей категории</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="confiration">
        <div class="container"> 
            <div class="title wow fadeInUp">
                <h2>конференции</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
                    <div class="confiration-box">
                        <div class="empty-img">
                            <a href="galery-two.html"><img src="img/empty1.png" alt="empty"></a>
                        </div>
                        <div class="empty-text">
                            <p>Название конференции</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
                    <div class="confiration-box">
                        <div class="empty-img">
                            <img src="img/empty1.png" alt="empty">
                        </div>
                        <div class="empty-text">
                            <p>Название конференции</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
                    <div class="confiration-box">
                        <div class="empty-img">
                            <img src="img/empty1.png" alt="empty">
                        </div>
                        <div class="empty-text">
                            <p>Название конференции</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
                    <div class="confiration-box">
                        <div class="empty-img">
                            <img src="img/empty1.png" alt="empty">
                        </div>
                        <div class="empty-text">
                            <p>Название конференции</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>



<section>
    <div class="clinic-equipment">
        <div class="container">
            <div class="title  wow fadeInUp">
                <h2>оборудование клиники</h2>
            </div>
        </div>
        <div class="box-slider">
            <div class="back-slider"></div>
            <div class="swiper-container mySwiper2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="swiper-img">
                          <img src="img/empty2.png" alt="#">
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="swiper-img">
                          <img src="img/empty2.png" alt="#">
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="swiper-img">
                          <img src="img/empty2.png" alt="#">
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="swiper-img">
                          <img src="img/empty2.png" alt="#">
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="swiper-img">
                          <img src="img/empty2.png" alt="#">
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="swiper-img">
                          <img src="img/empty2.png" alt="#">
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="swiper-img">
                          <img src="img/empty2.png" alt="#">
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="swiper-img">
                          <img src="img/empty2.png" alt="#">
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="swiper-img">
                          <img src="img/empty2.png" alt="#">
                      </div>
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
        </div>
    </div>
</section>