<section>
    <div class="contact-page">
        <div class="container">
            <div class="contact-block_first">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="row contact-block_left">
                            <div class="col-lg-12">
                                <div class="title">
                                    <h2>
                                        Контакты
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="contact-adres">
                                    <span>Адрес:</span>
                                    <p>г. Ташкент, <br> ул. Садыка Азимова 64</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="contact-adres">
                                    <span>Соц. сети:</span>
                                    <div class="contact-icons d-flex">
                                        <a href="#" class="mr-2"><img src="img/instagram.svg" alt="icons"></a>
                                        <a href="#"><img src="img/facebook.svg" alt="icons"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="contact-adres">
                                    <span>Почта:</span>
                                    <p>naturalhairclinic@mail.ru</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="contact-adres">
                                    <span>Телефон:</span>
                                    <p>+998 (90) 175-74-07</p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="title">
                                    <h2>
                                        Режим работы
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="contact-adres">
                                    <span>Понедельник-Пятница:</span>
                                    <p>С 09:00 до 17:00</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="contact-adres">
                                    <span>Обед:</span>
                                    <p>С 09:00 до 17:00</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="contact-adres mb-0">
                                    <span>Суббота:</span>
                                    <p>С 09:00 до 17:00</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="contact-adres mb-0">
                                    <span>Воскресенье:</span>
                                    <p>Выходной</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="contact-map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d95901.41990287448!2d69.2518912!3d41.3106176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1623433180628!5m2!1sru!2s"
                                 style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="back-license">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="contact-block_two">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h2>Хотите, мы Вам перезвоним?</h2>
                        <p>Оставьте заявку и мы подробно ответим на все Ваши вопросы!</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="name">Имя*</label>
                        <input type="text" class="form-control" placeholder="Введите имя" required>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="name">Номер телефона*</label>
                        <input type="text" class="phone-input form-control" placeholder="Номер телефона" required>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="name">Тема обращения*</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Выбирите из списка</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-img">
                        <img src="img/bg-4.png" alt="bg">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <a href="#" class="btn">Заказать звонок</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <p>
                            Нажимая на кнопку «Заказать звонок», Вы даёте <br>
                            согласие на обработку персональных данных
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    