<section>
    <div class="galery-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="galery-page_title wow fadeInLeft">
                        <h1>Название мастер класса <br> или конференции</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore <br> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut <br> aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="back-galery">
                </div>
            </div>
        </div>
    </div>
    <div class="galey-slider">
        <div class="container">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                class="swiper-container mySwiper3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/galery.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-1.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-2.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-3.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-4.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-5.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-1.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-2.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-3.png" alt="galery-img" />
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper-container mySwiper4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/galery.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-1.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-2.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-3.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-4.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-5.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-1.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-2.png" alt="galery-img" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/galery-3.png" alt="galery-img" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>





