<section>
    <div class="license-page pt-5">
        <div class="container">
            <div class="all-license">
                <div class="swiper-container mySwiper6">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img src="img/license1.png" alt="license" />
                      </div>
                      <div class="swiper-slide">
                        <img src="img/license1.png" alt="license" />
                      </div>
                      <div class="swiper-slide">
                        <img src="img/license1.png" alt="license" />
                      </div>
                      <div class="swiper-slide">
                        <img src="img/license1.png" alt="license" />
                      </div>
                      <div class="swiper-slide">
                        <img src="img/license1.png" alt="license" />
                      </div>
                      <div class="swiper-slide">
                        <img src="img/license1.png" alt="license" />
                      </div>
                      <div class="swiper-slide">
                        <img src="img/license1.png" alt="license" />
                      </div>
                      <div class="swiper-slide">
                        <img src="img/license1.png" alt="license" />
                      </div>
                      <div class="swiper-slide">
                        <img src="img/license1.png" alt="license" />
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
            </div>
        </div>
        <div class="back-license"></div>
    </div>
</section>