<div class="main_page">
    <section class="section-main">
        <div class="sec_main">
            <div class="container-fluid">
                <div class="main d-lg-flex">
                    <div class="main-left wow slideInLeft">
                        <div class="main-title">
                            <h1>
                                Клиника <br>
                                современной <br>
                                трихологии
                            </h1>
                            <p>Лечение и трансплантация волос, <br>
                                медицинская косметология</p>
                        </div>
                        <div class="main-btn mt-1">
                            <a href="#btnClick" class="btn">Записатся на консультацию</a>
                        </div>
                        <div class="back-col">
                        </div>
                    </div>
                    <div class="main-right wow slideInRight">
                        <div class="main-img">
                            <img src="img/bg.png" alt="">
                        </div>
                        <!-- <div class="btn-spiner">
                            <div class="spinner">
                                <a href="#btnClick" class="btn spiner"><i class="fas fa-plus"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-about">
        <div class="about-us">
            <div class="container-fluid">
                <div class="title wow fadeInLeft" data-wow-delay="0.7s">
                    <h2>Наши услуги</h2>
                </div>
                <div class="about-tab">
                    <div class="row">
                        <div class="col-lg-3 wow slideInLeft">
                            <ul class="nav nav-tabs d-lg-block flex-lg-column " id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home" role="tab"
                                        aria-controls="home"><img src="img/play.svg" alt="#">Консультация</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#profile" role="tab"
                                        aria-controls="profile"><img src="img/play.svg" alt="#">Диагностика</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#messages" role="tab"
                                        aria-controls="messages"><img src="img/play.svg" alt="#">Лазерное лечение <br>
                                        выпадения волос</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#settings" role="tab"
                                        aria-controls="settings"><img src="img/play.svg" alt="#">Триходерматоскопия</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#first" role="tab"
                                        aria-controls="first"><img src="img/play.svg" alt="#">PRP-терапия</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#second" role="tab"
                                        aria-controls="second"><img src="img/play.svg" alt="#">Мезотерапия</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#third" role="tab"
                                        aria-controls="third"><img src="img/play.svg" alt="#">Пересадка волос </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#four" role="tab"
                                        aria-controls="four"><img src="img/play.svg" alt="#">Пересадка бровей </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#five" role="tab"
                                        aria-controls="five"><img src="img/play.svg" alt="#">Пересадка бороды</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#six" role="tab" aria-controls="six">
                                        <img src="img/play.svg" alt="#">Все
                                        услуги</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-9 wow slideInRight">
                            <div class="tab-content">
                                <div class="tab-pane active" id="home" role="tabpanel">
                                    <div class="tab-about">
                                        <div class="tab-title ">
                                            <h4>
                                                Консультация <br>
                                                врача трихолога
                                            </h4>
                                        </div>
                                        <div class="tab-text">
                                            <p>
                                                Чтобы четко уяснить причину, по которой страдают <br> волосы, врач
                                                изучает
                                                жалобы пациента, собирает <br> информацию о его образе жизни за
                                                последние
                                                полгода.<br><br>
                                                Интерес распространяется на уход за волосами, <br> сопутствующие
                                                заболевания,
                                                вкусовые пристрастия, <br> вредные привычки, условия труда. <br><br>
                                                Такая информация важна, поскольку может повлиять <br> не только на
                                                определение причинного фактора <br>в развитии нарушений, но и
                                                способствовать выбору <br> оптимальной лечебной тактики.
                                            </p>
                                            <a href="#">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="profile" role="tabpanel">
                                    <div class="tab-about">
                                        <div class="tab-title">
                                            <h4>
                                                Диагностика
                                            </h4>
                                        </div>
                                        <div class="tab-text">
                                            <p>
                                                Чтобы четко уяснить причину, по которой страдают <br> волосы, врач
                                                изучает
                                                жалобы пациента, собирает <br> информацию о его образе жизни за
                                                последние
                                                полгода.<br><br>
                                                Интерес распространяется на уход за волосами, <br> сопутствующие
                                                заболевания,
                                                вкусовые пристрастия, <br> вредные привычки, условия труда. <br><br>
                                                Такая информация важна, поскольку может повлиять <br> не только на
                                                определение причинного фактора <br>в развитии нарушений, но и
                                                способствовать выбору <br> оптимальной лечебной тактики.
                                            </p>
                                            <a href="#">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="messages" role="tabpanel">
                                    <div class="tab-about">
                                        <div class="tab-title">
                                            <h4>
                                                Лазерное лечение <br> выпадения волос
                                            </h4>
                                        </div>
                                        <div class="tab-text">
                                            <p>
                                                Чтобы четко уяснить причину, по которой страдают <br> волосы, врач
                                                изучает
                                                жалобы пациента, собирает <br> информацию о его образе жизни за
                                                последние
                                                полгода.<br><br>
                                                Интерес распространяется на уход за волосами, <br> сопутствующие
                                                заболевания,
                                                вкусовые пристрастия, <br> вредные привычки, условия труда. <br><br>
                                                Такая информация важна, поскольку может повлиять <br> не только на
                                                определение причинного фактора <br>в развитии нарушений, но и
                                                способствовать выбору <br> оптимальной лечебной тактики.
                                            </p>
                                            <a href="#">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="settings" role="tabpanel">
                                    <div class="tab-about">
                                        <div class="tab-title">
                                            <h4>
                                                Триходерматоскопия
                                            </h4>
                                        </div>
                                        <div class="tab-text">
                                            <p>
                                                Чтобы четко уяснить причину, по которой страдают <br> волосы, врач
                                                изучает
                                                жалобы пациента, собирает <br> информацию о его образе жизни за
                                                последние
                                                полгода.<br><br>
                                                Интерес распространяется на уход за волосами, <br> сопутствующие
                                                заболевания,
                                                вкусовые пристрастия, <br> вредные привычки, условия труда. <br><br>
                                                Такая информация важна, поскольку может повлиять <br> не только на
                                                определение причинного фактора <br>в развитии нарушений, но и
                                                способствовать выбору <br> оптимальной лечебной тактики.
                                            </p>
                                            <a href="#">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="first" role="tabpanel">
                                    <div class="tab-about">
                                        <div class="tab-title">
                                            <h4>
                                                PRP-терапия
                                            </h4>
                                        </div>
                                        <div class="tab-text">
                                            <p>
                                                Чтобы четко уяснить причину, по которой страдают <br> волосы, врач
                                                изучает
                                                жалобы пациента, собирает <br> информацию о его образе жизни за
                                                последние
                                                полгода.<br><br>
                                                Интерес распространяется на уход за волосами, <br> сопутствующие
                                                заболевания,
                                                вкусовые пристрастия, <br> вредные привычки, условия труда. <br><br>
                                                Такая информация важна, поскольку может повлиять <br> не только на
                                                определение причинного фактора <br>в развитии нарушений, но и
                                                способствовать выбору <br> оптимальной лечебной тактики.
                                            </p>
                                            <a href="#">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="second" role="tabpanel">
                                    <div class="tab-about">
                                        <div class="tab-title">
                                            <h4>
                                                Консультация <br>
                                                врача трихолога
                                            </h4>
                                        </div>
                                        <div class="tab-text">
                                            <p>
                                                Чтобы четко уяснить причину, по которой страдают <br> волосы, врач
                                                изучает
                                                жалобы пациента, собирает <br> информацию о его образе жизни за
                                                последние
                                                полгода.<br><br>
                                                Интерес распространяется на уход за волосами, <br> сопутствующие
                                                заболевания,
                                                вкусовые пристрастия, <br> вредные привычки, условия труда. <br><br>
                                                Такая информация важна, поскольку может повлиять <br> не только на
                                                определение причинного фактора <br>в развитии нарушений, но и
                                                способствовать выбору <br> оптимальной лечебной тактики.
                                            </p>
                                            <a href="#">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="third" role="tabpanel">
                                    <div class="tab-about">
                                        <div class="tab-title">
                                            <h4>
                                                Консультация <br>
                                                врача трихолога
                                            </h4>
                                        </div>
                                        <div class="tab-text">
                                            <p>
                                                Чтобы четко уяснить причину, по которой страдают <br> волосы, врач
                                                изучает
                                                жалобы пациента, собирает <br> информацию о его образе жизни за
                                                последние
                                                полгода.<br><br>
                                                Интерес распространяется на уход за волосами, <br> сопутствующие
                                                заболевания,
                                                вкусовые пристрастия, <br> вредные привычки, условия труда. <br><br>
                                                Такая информация важна, поскольку может повлиять <br> не только на
                                                определение причинного фактора <br>в развитии нарушений, но и
                                                способствовать выбору <br> оптимальной лечебной тактики.
                                            </p>
                                            <a href="#">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="four" role="tabpanel">
                                    <div class="tab-about">
                                        <div class="tab-title">
                                            <h4>
                                                Консультация <br>
                                                врача трихолога
                                            </h4>
                                        </div>
                                        <div class="tab-text">
                                            <p>
                                                Чтобы четко уяснить причину, по которой страдают <br> волосы, врач
                                                изучает
                                                жалобы пациента, собирает <br> информацию о его образе жизни за
                                                последние
                                                полгода.<br><br>
                                                Интерес распространяется на уход за волосами, <br> сопутствующие
                                                заболевания,
                                                вкусовые пристрастия, <br> вредные привычки, условия труда. <br><br>
                                                Такая информация важна, поскольку может повлиять <br> не только на
                                                определение причинного фактора <br>в развитии нарушений, но и
                                                способствовать выбору <br> оптимальной лечебной тактики.
                                            </p>
                                            <a href="#">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="five" role="tabpanel">
                                    <div class="tab-about">
                                        <div class="tab-title">
                                            <h4>
                                                Консультация <br>
                                                врача трихолога
                                            </h4>
                                        </div>
                                        <div class="tab-text">
                                            <p>
                                                Чтобы четко уяснить причину, по которой страдают <br> волосы, врач
                                                изучает
                                                жалобы пациента, собирает <br> информацию о его образе жизни за
                                                последние
                                                полгода.<br><br>
                                                Интерес распространяется на уход за волосами, <br> сопутствующие
                                                заболевания,
                                                вкусовые пристрастия, <br> вредные привычки, условия труда. <br><br>
                                                Такая информация важна, поскольку может повлиять <br> не только на
                                                определение причинного фактора <br>в развитии нарушений, но и
                                                способствовать выбору <br> оптимальной лечебной тактики.
                                            </p>
                                            <a href="#">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="six" role="tabpanel">
                                    <div class="tab-about">
                                        <div class="tab-title">
                                            <h4>
                                                Консультация <br>
                                                врача трихолога
                                            </h4>
                                        </div>
                                        <div class="tab-text">
                                            <p>
                                                Чтобы четко уяснить причину, по которой страдают <br> волосы, врач
                                                изучает
                                                жалобы пациента, собирает <br> информацию о его образе жизни за
                                                последние
                                                полгода.<br><br>
                                                Интерес распространяется на уход за волосами, <br> сопутствующие
                                                заболевания,
                                                вкусовые пристрастия, <br> вредные привычки, условия труда. <br><br>
                                                Такая информация важна, поскольку может повлиять <br> не только на
                                                определение причинного фактора <br>в развитии нарушений, но и
                                                способствовать выбору <br> оптимальной лечебной тактики.
                                            </p>
                                            <a href="#">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section-trichology">
        <div class="container-fluid">
            <div class="trichology">
                <div class="title wow fadeInLeft" data-wow-delay="1s">
                    <h2>Поводы обращения к врачу-трихологу</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-block d-flex">
                            <img src="img/Ellipse.svg" alt="ellipse">
                            <p>Волосы стали сечься, ломаться и истончаться;</p>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-block d-flex">
                            <img src="img/Ellipse.svg" alt="ellipse">
                            <p>Кожа стала черезчур сухой или, напротив, жирной;</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-block d-flex">
                            <img src="img/Ellipse.svg" alt="ellipse">
                            <p>Кожа головы начала зудеть, воспаляться, <br> на ней образовались пятна, расчёсы;</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-block d-flex">
                            <img src="img/Ellipse.svg" alt="ellipse">
                            <p>Волосы редеют и выпадают;</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-block d-flex">
                            <img src="img/Ellipse.svg" alt="ellipse">
                            <p>Волосы быстро пачкаются, теряют обычный <br> блеск и пышность;</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-block d-flex">
                            <img src="img/Ellipse.svg" alt="ellipse">
                            <p>Появилась перхоть, с которой не могут справится <br> никакие шампуни.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contacting-us">
        <div class="container-fluid">
            <div class="contacting-us">
                <div class="title wow slideInLeft" data-wow-delay="1s">
                    <h2>Почему стоит обратится к нам?</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 wow slideInLeft">
                        <div class="contact-card">
                            <div class="card-img">
                                <img src="img/icon1.svg" alt="icon">
                            </div>
                            <div class="card-text">
                                <p>Лечение в соответствии <br> с мировыми клиническими <br> рекомендациями</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow slideInRight">
                        <div class="contact-card">
                            <div class="card-img">
                                <img src="img/icon2.svg" alt="icon">
                            </div>
                            <div class="card-text">
                                <p>Лечение в соответствии <br> с мировыми клиническими <br> рекомендациями</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow slideInLeft">
                        <div class="contact-card">
                            <div class="card-img">
                                <img src="img/icon3.svg" alt="icon">
                            </div>
                            <div class="card-text">
                                <p>Лечение в соответствии <br> с мировыми клиническими <br> рекомендациями</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow slideInRight">
                        <div class="contact-card">
                            <div class="card-img">
                                <img src="img/icon4.svg" alt="icon">
                            </div>
                            <div class="card-text">
                                <p>Лечение в соответствии <br> с мировыми клиническими <br> рекомендациями</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-photo">
                    <img src="img/bg-3.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="cosmetolog-sec">
        <div class="container-fluid">
            <div class="cosmetology">
                <div class="title">
                    <h2>
                        Центр медицинской косметологии «Natural Hair Clinic»
                    </h2>
                </div>
                <div class="cosmetology-text">
                    <p>Мы поможем Вам поддерживать Вашу естественную красоту. <br> Только профессиональные врачи с
                        многолетним опытом – <br> 8 из 10 пациентов становятся нашими постоянными клиентами.</p>
                </div>
                <div class="row" style="padding: 0px 32px;">
                    <div class="col-lg-3">
                        <div class="cosmetik-number">
                            <div class="d-flex">
                                <span class="count1"></span>
                                <span>%</span>
                            </div>
                            <p>удовлетворенных <br> посетителей</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="cosmetik-number">
                            <div class="d-flex">
                                <span class="count2">10</span>
                                <span>лет</span>
                            </div>
                            <p>врачебный стаж <br> наших врачей</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="cosmetik-number">
                            <div class="d-flex">
                                <span class="count3"></span>
                                <span>%</span>
                            </div>
                            <p>посетителей <br> возвращаются к нам</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="cosmetik-number">
                            <div class="d-flex">
                                <span>></span>
                                <span class="count4"></span>
                            </div>
                            <p>видов различных <br> эстетических процедур</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="clinic-slider">
                <div class="clinic-icon">
                    <img src="img/icon5.svg" alt="icon">
                </div>
                <div class="title text-center">
                    <h2>Отзывы о нашей клинике</h2>
                </div>
                <div class="swiper-container mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="width: 464px;">
                            <div class="slider-img">
                                <img src="img/Ellipse 7-1.png" alt="">
                            </div>
                            <div class="slider-about">
                                <div class="slider-title">
                                    <h6>Яковлева Регина</h6>
                                </div>
                                <div class="slider-text">
                                    <p>Сегодня была на приеме у замечательного доктора трихолога и просто приятной
                                        женщины - Чирченко Марии Александровны. Я обратилась с большой проблемой -
                                        тотальная алопеция после большого стресса, но поговорив с Марией Александровной,
                                        поняла, что надежда есть.</p>
                                </div>
                                <div class="slider-link">
                                    <a href="#">Посмотреть полностью</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 464px;">
                            <div class="slider-img">
                                <img src="img/Ellipse 7.png" alt="">
                            </div>
                            <div class="slider-about">
                                <div class="slider-title">
                                    <h6>Яковлева Регина</h6>
                                </div>
                                <div class="slider-text">
                                    <p>Сегодня была на приеме у замечательного доктора трихолога и просто приятной
                                        женщины - Чирченко Марии Александровны. Я обратилась с большой проблемой -
                                        тотальная алопеция после большого стресса, но поговорив с Марией Александровной,
                                        поняла, что надежда есть.</p>
                                </div>
                                <div class="slider-link">
                                    <a href="#">Посмотреть полностью</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 464px;">
                            <div class="slider-img">
                                <img src="img/Ellipse 7-1.png" alt="">
                            </div>
                            <div class="slider-about">
                                <div class="slider-title">
                                    <h6>Яковлева Регина</h6>
                                </div>
                                <div class="slider-text">
                                    <p>Сегодня была на приеме у замечательного доктора трихолога и просто приятной
                                        женщины - Чирченко Марии Александровны. Я обратилась с большой проблемой -
                                        тотальная алопеция после большого стресса, но поговорив с Марией Александровной,
                                        поняла, что надежда есть.</p>
                                </div>
                                <div class="slider-link">
                                    <a href="#">Посмотреть полностью</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 464px;">
                            <div class="slider-img">
                                <img src="img/Ellipse 7.png" alt="">
                            </div>
                            <div class="slider-about">
                                <div class="slider-title">
                                    <h6>Яковлева Регина</h6>
                                </div>
                                <div class="slider-text">
                                    <p>Сегодня была на приеме у замечательного доктора трихолога и просто приятной
                                        женщины - Чирченко Марии Александровны. Я обратилась с большой проблемой -
                                        тотальная алопеция после большого стресса, но поговорив с Марией Александровной,
                                        поняла, что надежда есть.</p>
                                </div>
                                <div class="slider-link">
                                    <a href="#">Посмотреть полностью</a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="swiper-slide" style="width: 464px;">
                            <div class="slider-img">
                                <img src="img/Ellipse 7-1.png" alt="">
                            </div>
                            <div class="slider-about">
                                <div class="slider-title">
                                    <h6>Яковлева Регина</h6>
                                </div>
                                <div class="slider-text">
                                    <p>Сегодня была на приеме у замечательного доктора трихолога и просто приятной
                                        женщины - Чирченко Марии Александровны. Я обратилась с большой проблемой -
                                        тотальная алопеция после большого стресса, но поговорив с Марией Александровной,
                                        поняла, что надежда есть.</p>
                                </div>
                                <div class="slider-link">
                                    <a href="#">Посмотреть полностью</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 464px;">
                            <div class="slider-img">
                                <img src="img/Ellipse 7.png" alt="">
                            </div>
                            <div class="slider-about">
                                <div class="slider-title">
                                    <h6>Яковлева Регина</h6>
                                </div>
                                <div class="slider-text">
                                    <p>Сегодня была на приеме у замечательного доктора трихолога и просто приятной
                                        женщины - Чирченко Марии Александровны. Я обратилась с большой проблемой -
                                        тотальная алопеция после большого стресса, но поговорив с Марией Александровной,
                                        поняла, что надежда есть.</p>
                                </div>
                                <div class="slider-link">
                                    <a href="#">Посмотреть полностью</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 464px;">
                            <div class="slider-img">
                                <img src="img/Ellipse 7-1.png" alt="">
                            </div>
                            <div class="slider-about">
                                <div class="slider-title">
                                    <h6>Яковлева Регина</h6>
                                </div>
                                <div class="slider-text">
                                    <p>Сегодня была на приеме у замечательного доктора трихолога и просто приятной
                                        женщины - Чирченко Марии Александровны. Я обратилась с большой проблемой -
                                        тотальная алопеция после большого стресса, но поговорив с Марией Александровной,
                                        поняла, что надежда есть.</p>
                                </div>
                                <div class="slider-link">
                                    <a href="#">Посмотреть полностью</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 464px;">
                            <div class="slider-img">
                                <img src="img/Ellipse 7.png" alt="">
                            </div>
                            <div class="slider-about">
                                <div class="slider-title">
                                    <h6>Яковлева Регина</h6>
                                </div>
                                <div class="slider-text">
                                    <p>Сегодня была на приеме у замечательного доктора трихолога и просто приятной
                                        женщины - Чирченко Марии Александровны. Я обратилась с большой проблемой -
                                        тотальная алопеция после большого стресса, но поговорив с Марией Александровной,
                                        поняла, что надежда есть.</p>
                                </div>
                                <div class="slider-link">
                                    <a href="#">Посмотреть полностью</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="texno-result">
                <div class="row">
                    <div class="col-lg-5 wow slideInLeft">
                        <div class="texno-swiper">
                            <div class="swiper-container mySwiper1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="img/slider-1.png" alt="slider" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/slider-1.png" alt="slider" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/slider-1.png" alt="slider" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/slider-1.png" alt="slider" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/slider-1.png" alt="slider" />
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 wow slideInRight">
                        <div class="texno-block">
                            <div class="title">
                                <h2>Современные технологии — <br> гарантированный результат</h2>
                            </div>
                            <p>
                                Высококвалифицированный персонал в сочетании с современными проверенными мировыми
                                технологиямии постоянно обновляемым медицинским оборудованием известных зарубежных
                                производителей из Японии, Италии, Великобритании позволяет нам оказывать своим пациентам
                                услуги самого высокого класса.
                                <br>
                                <br>
                                Доверяя профессионалам нашей Клиники современной трихологии свое здоровье, Вы
                                гарантированно
                                получаете качественное, комфортное и безопасное лечение.
                            </p>
                            <a href="#" data-toggle="modal" data-target="#myModal" class="btn">Записатся на
                                консультацию</a>
                        </div>
                    </div> 
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="contact-me" id="btnClick">
                <div class="title">
                    <h2>Хотите, мы Вам перезвоним?</h2>
                </div>
                <div class="text">
                    <p>Оставьте заявку и мы подробно ответим на все Ваши вопросы!</p>
                </div>
                <form class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="name">Имя*</label>
                            <input type="text" class="form-control" placeholder="Введите имя" required>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="name">Номер телефона*</label>
                            <input type="text" class="phone-input form-control" placeholder="Номер телефона" required>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="name">Тема обращения*</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Выбирите из списка</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 wow slideInRight" data-wow-delay="1s">
                        <div class="form-img">
                            <img src="img/bg-4.png" alt="bg">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <a href="#" class="btn">Заказать звонок</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <p>
                                Нажимая на кнопку «Заказать звонок», Вы даёте <br>
                                согласие на обработку персональных данных
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="map-sec">
                <div class="title">
                    <h2>Контакты</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="information">
                            <span>
                                Адрес:
                            </span>
                            <p>г. Ташкент, <br> ул. Садыка Азимова 64</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="information">
                            <span>
                                Соц. сети:
                            </span>
                            <div class="social-icon d-flex">
                                <a href="#" class="mr-2 mt-1"><img src="img/facebook.svg" alt="icon"></a>
                                <a href="#" class="mt-1"><img src="img/instagram.svg" alt="icon"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow slideInRight" data-wow-delay="1s">
                        <div class="map-google">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5991.907255162768!2d69.24658576240886!3d41.331621721423865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1622127164582!5m2!1sru!2s"
                                width="683" height="464" style="border:0;" allowfullscreen="" loading="lazy">
                            </iframe>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="information">
                            <span>
                                Почта:
                            </span>
                            <p>naturalhairclinic@mail.ru</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="information">
                            <span>
                                Телефон:
                            </span>
                            <p>+998 (90) 175-74-07</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal hade fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="modal-title">
                        <img src="img/modal-tit.svg" alt="modal-tit">
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="modal-body__title">
                        <h4>Запись на консультацию</h4>
                        <p>Оставьте заявку и мы свяжемся <br> с Вами для уточнения даты и времени.</p>
                    </div>
                    <form class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="name">Имя*</label>
                                <input type="text" class="form-control" placeholder="Введите имя" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="name">Номер телефона*</label>
                                <input type="text" class="phone-input form-control" placeholder="Номер телефона"
                                    required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group d-block">
                                <label for="name">Тема обращения*</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Выбирите из списка</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="w-100">
                                <button type="submit"  class="btn-m">Записаться</button>
                            </div>
                        </div>
                        <div class="bot-text">
                            <p>Нажимая на кнопку «Записаться», Вы даёте согласие на обработку персональных данных</p>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
            </div>
        </div>
    </div>
</div>