<section>
    <div class="my_servis">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="servis-item_left wow fadeInLeft" wow-duration-delay="1s">
                        <h1>Наши услуги</h1>
                        <p>Клиника предлагает оказание качественной медицинской помощи и высокий уровень <br> сервиса. Также гарантирует эффективное <br> лечение, соблюдение врачебной этики и конфиденциальности.</p>
                        <a href="#" class="btn">
                            Записатся на консультацию
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <div class="servis-item_right wow fadeInRight" wow-duration-delay="1s">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <hr>
                                <div class="right-item">
                                    <a href="#">Консультация</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <hr>
                                <div class="right-item">
                                    <a href="#">Пересадка волос</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <hr>
                                <div class="right-item">
                                    <a href="#">Лазерные процедуры <br> на аппарате</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <hr>
                                <div class="right-item">
                                    <a href="#">Лечение различных <br> патологий на аппаратом</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <hr>
                                <div class="right-item">
                                    <a href="#">Фотоомоложение</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <hr>
                                <div class="right-item">
                                    <a href="#">Трихопигментация</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <hr>
                                <div class="right-item">
                                    <a href="#">Физиотерапия</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <hr>
                                <div class="right-item">
                                    <a href="#">Эпиляция</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pos-img">
                </div>
            </div>
            
                
        </div>
    </div>
</section>
<section class="first-sec">
    <div class="consultation">
        <div class="container">
            <div class="title wow fadeInUp" wow-duration-delay="5s">
                <h2>Консультация</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Консультация врача дерматовенеролога <i class="fas fa-chevron-right" style="color: #3CCD74;"
                            ></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Консультация с трихоскопией <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="section-block">
    <div class="consultation mt-5">
        <div class="container">
            <div class="title wow fadeInUp" wow-duration-delay="5s">
                <h2>Пересадка волос</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Методом FUE - до 300 единиц
                            <i class="fas fa-chevron-right" style="color: #3CCD74;"
                            ></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Методом FUE - 1 графт (до 2.000 графтов) 
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Пакет “MINIMUM” (до 2.500 графтов)
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Пакет “MEDIUM” (до 3.000 графтов)
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Пакет “MAXIMUM” (от 3.100 до 6.000 графтов)
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="section-block">
    <div class="consultation mt-5">
        <div class="container">
            <div class="title wow fadeInUp" wow-duration-delay="5s">
                <h2>Лечение различных патологий на аппаратом</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Удаление 1 новообразования (папиломы, бородавки)  в области лица и шеи
                            <i class="fas fa-chevron-right" style="color: #3CCD74;"
                            ></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Удаление 1 новообразования (папиломы, бородавки) в интимной зоне
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Пакет “MINIMUM” (до 2.500 графтов)
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Удаление 1 новообразования (папиломы, бородавки) на теле
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Лечение стрий (рястяжки), келоидных рубцов площадью до 1 см2
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Удаление пигментных пятен площадью до 1 см2
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Удаление пигментных пятен площадью от 1 см2 до 2 см2
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Лечение псориаза площадью до 1 см2
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="section-block">
    <div class="consultation mt-5">
        <div class="container">
            <div class="title wow fadeInUp" wow-duration-delay="5s">
                <h2>Фотоомоложение</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Фотоомоложение кожи лица
                            <i class="fas fa-chevron-right" style="color: #3CCD74;"
                            ></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Фотоомоложение кожи шеи
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Фотоомоложение кожи рук
                            <i class="fas fa-chevron-right" style="color: #3CCD74;"
                            ></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Фотоомоложение кожи декольте
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Фотоомоложение кожи лица и шеи
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="section-block" >
    <div class="consultation mt-5">
        <div class="container">
            <div class="title wow fadeInUp" wow-duration-delay="5s">
                <h2>Трихопигментация</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Трихопигментация
                            <i class="fas fa-chevron-right" style="color: #3CCD74;"
                            ></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Трихопигментация коррекция 
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="section-block">
    <div class="consultation mt-5 ">
        <div class="container">
            <div class="title wow fadeInUp" wow-duration-delay="5s">
                <h2>Физиотерапия</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">ВЛОК терапия (внутривенное лазерное обучение крови)
                            <i class="fas fa-chevron-right" style="color: #3CCD74;"
                            ></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Озонотерапия
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Диодный лазер для волос
                            <i class="fas fa-chevron-right" style="color: #3CCD74;"
                            ></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Инфракрасный лазер СОГДИАНА
                            <i class="fas fa-chevron-right"  style="color: #3CCD74;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="section-block">
    <div class="consultation mt-5">
        <div class="container">
            <div class="title wow fadeInUp" wow-duration-delay="5s">
                <h2>Эпиляция</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <div class="consol-link">
                        <a href="#">Эпиляция различных частей тела
                            <i class="fas fa-chevron-right" style="color: #3CCD74;"
                            ></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>