.btn-spinner{
    background-color: #58D488;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 20%;
    right: 35%;
}
.spinner {
    position: absolute;
    top: 53%;
    right: 45%;
    width: 80px;
    opacity: 0.7;
    height: 80px;
    background-color: #58D488;
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    @include mq('desktop', max){
        top: 53%;
        right: 37%;
    }
    @include mq('phablet', max){
        top: 77%;
        right: 30%;
    }

      .btn{
        background: #58D488;
        border-radius: 50%;
        font-weight: 600;
        font-size: 20px;
        line-height: 18px;
        color: #FFFFFF;
        opacity: 1;
        margin-top: 23px;
        margin-left: 18px;
        .fas{
            color: #FFFFFF;
        }
    }
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: .7;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: .9;
    }
  }