
.modal-content{
    background: #E3F8EB;
    padding: 5px 15px;
    border-radius: 20px;
    @include mq('phablet', max){
        margin-top: 100px;
    }
}
.modal-body{
    .modal-body__title{
        margin-bottom: 16px;
        h4{
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #343845;
        }
        p{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #696874;
            margin-bottom: 4px;
            &::after{
                display: block;
                content: "";
                position: absolute;
                left: 14px;
                top: 98px;
                width: 90px;
                height: 4px;
                background: #58D488;
            }
        }
    }
    .bot-text{
        margin-left: 12px;
        p{
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.02em;
            font-feature-settings: 'kern' off;
            color: #7C7C87;

        }
    }
    form{
        .form-group{
            label{
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.02em;
                color: #696874;
                margin-bottom: 8px;
    
            }
            input{
                background: #FFFFFF;
                border: 1px solid #C7F1D7;
                box-sizing: border-box;
                border-radius: 8px;
                height: 56px;
                padding: 8px 0px 8px 16px;
                &::placeholder{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    color: #C2C2C9;
                }
            }
            .form-select{
                background: #FFFFFF;
                border: 1px solid #C7F1D7;
                box-sizing: border-box;
                border-radius: 8px;
                height: 56px;
                padding: 8px 16px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.02em;
                color: #C2C2C9;
                width: 100%;
                option{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    color: #C2C2C9;
                }
            }
        }
        .btn-m{
            background: #58D488;
            border-radius: 8px;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            padding: 19px 63px;
            border: none;
            width: 100%;
        }
    }
}








// #success_tic .page-body{
//     max-width:300px;
//     background-color:#FFFFFF;
//     margin:10% auto;
//   }
//    #success_tic .page-body .head{
//     text-align:center;
//   }
//   /* #success_tic .tic{
//     font-size:186px;
//   } */
//   #success_tic .close{
//         opacity: 1;
//       position: absolute;
//       right: 0px;
//       font-size: 30px;
//       padding: 3px 15px;
//     margin-bottom: 10px;
//   }
//   #success_tic .checkmark-circle {
//     width: 150px;
//     height: 150px;
//     position: relative;
//     display: inline-block;
//     vertical-align: top;
//   }
//   .checkmark-circle .background {
//     width: 150px;
//     height: 150px;
//     border-radius: 50%;
//     background: #1ab394;
//     position: absolute;
//   }
//   #success_tic .checkmark-circle .checkmark {
//     border-radius: 5px;
//   }
//   #success_tic .checkmark-circle .checkmark.draw:after {
//     -webkit-animation-delay: 300ms;
//     -moz-animation-delay: 300ms;
//     animation-delay: 300ms;
//     -webkit-animation-duration: 1s;
//     -moz-animation-duration: 1s;
//     animation-duration: 1s;
//     -webkit-animation-timing-function: ease;
//     -moz-animation-timing-function: ease;
//     animation-timing-function: ease;
//     -webkit-animation-name: checkmark;
//     -moz-animation-name: checkmark;
//     animation-name: checkmark;
//     -webkit-transform: scaleX(-1) rotate(135deg);
//     -moz-transform: scaleX(-1) rotate(135deg);
//     -ms-transform: scaleX(-1) rotate(135deg);
//     -o-transform: scaleX(-1) rotate(135deg);
//     transform: scaleX(-1) rotate(135deg);
//     -webkit-animation-fill-mode: forwards;
//     -moz-animation-fill-mode: forwards;
//     animation-fill-mode: forwards;
//   }
//   #success_tic .checkmark-circle .checkmark:after {
//     opacity: 1;
//     height: 75px;
//     width: 37.5px;
//     -webkit-transform-origin: left top;
//     -moz-transform-origin: left top;
//     -ms-transform-origin: left top;
//     -o-transform-origin: left top;
//     transform-origin: left top;
//     border-right: 15px solid #fff;
//     border-top: 15px solid #fff;
//     border-radius: 2.5px !important;
//     content: '';
//     left: 35px;
//     top: 80px;
//     position: absolute;
//   }
//   @-webkit-keyframes checkmark {
//     0% {
//       height: 0;
//       width: 0;
//       opacity: 1;
//     }
//     20% {
//       height: 0;
//       width: 37.5px;
//       opacity: 1;
//     }
//     40% {
//       height: 75px;
//       width: 37.5px;
//       opacity: 1;
//     }
//     100% {
//       height: 75px;
//       width: 37.5px;
//       opacity: 1;
//     }
//   }
//   @-moz-keyframes checkmark {
//     0% {
//       height: 0;
//       width: 0;
//       opacity: 1;
//     }
//     20% {
//       height: 0;
//       width: 37.5px;
//       opacity: 1;
//     }
//     40% {
//       height: 75px;
//       width: 37.5px;
//       opacity: 1;
//     }
//     100% {
//       height: 75px;
//       width: 37.5px;
//       opacity: 1;
//     }
//   }
//   @keyframes checkmark {
//     0% {
//       height: 0;
//       width: 0;
//       opacity: 1;
//     }
//     20% {
//       height: 0;
//       width: 37.5px;
//       opacity: 1;
//     }
//     40% {
//       height: 75px;
//       width: 37.5px;
//       opacity: 1;
//     }
//     100% {
//       height: 75px;
//       width: 37.5px;
//       opacity: 1;
//     }
//   }
  
  